[submodule "frontend"]
	path = frontend
	url = https://github.com/aswinprasad-kp/docker-sandbox-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/aswinprasad-kp/docker-sandbox-backend.git
